<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <helloworld>
            <general>
                <total_todos>10</total_todos>
                <total_options>10</total_options>
            </general>
        </helloworld>
    </default>
</config>
